<% layout('layout') -%>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <h1>Your Shopping Cart</h1>
  </div>
  <div class="col-sm-6 col-md-6">
    <form name="input" action="pay" method="post">
      <input type="image"
             src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" value="submit"
             class="pull-right btn-next">
      </input>
  </form>
  </div>
</div>
<div class="row">
  <div class="table-responsive" id="cartTable">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total Product Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0; i<cart.length; i++) {
            var product = cart[i]; %>
        <tr id="<%= product.variant.variant_id %>">
          <td>
            <%- utils.link_to('/product/' + product.product_id,
                utils.responsiveImage(
                  S3URL+'/'+product.variant.key,
                  'Picture of '+product.variant.name+' of '+product.name))
            %><%- utils.link_to('/product/' + product.product_id,
                                product.variant.name +' of ' + product.name) %>
            <br>by <%- utils.link_to('/brands/' + product.brand_name,
                                     product.brand_name) %>
          </td>
          <td style="vertical-align:middle" id="#price">
            <%= product.variant.price %> $
          </td>
          <td style="vertical-align:middle" id="#quantity">
            <%= product.quantity %>
          </td>
          <td style="vertical-align:middle" id="#total">
            <%= product.variant.price * product.quantity %> $
          </td>
          <td style="vertical-align:middle">
            <form action="/removeFromCart" method="post" role="form"
                  class="no-refresh">
              <input type="hidden" name="product_id"
                     value="<%= product.product_id %>">
              <input type="hidden" name="variant_id"
                     value="<%= product.variant.variant_id %>">
              <input type="submit" value="Remove" class="btn btn-danger btn-sm">
            </form>
          </td>
        </tr>
        <% } %>
        <tr>
          <td colspan="3" class="td-right"><h4>Total Items Price</h4></td>
          <td style="vertical-align:middle" id="itemTotal">
            <%- cart.itemTotal %> $
          </td>
        </tr>
        <tr>
          <td colspan="3" class="td-right">
            <h4>Estimated Shipping (EMS)</h4>
          </td>
          <td style="vertical-align:middle">
            <select name="shippingCost" id="shippingCost">
              <option value="30">US: 30$</option>
              <option value="40">Europe: 40$</option>
              <option value="35">Asia: 35$</option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="td-right">
            <h4>Estimated Order Total</h4>
          </td>
          <td id="orderTotal">
            <h4><%- cart.itemTotal + 30 %> $</h4>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form name="input" action="pay" method="post">
    <input type="image"
           src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"
           value="submit" class="pull-right btn-next">
  </form>
</div>