<% layout('layout') -%>
<% if (cartSize > 0) { %>
<div class="row" id="checkoutProcess">
  <div class="btn-group">
    <button class="btn btn-default disabled active">1. Order Summary</button>
    <button class="btn btn-default disabled">
      2. Personal Info (via Paypal)
    </button>
    <button class="btn btn-default disabled">3. Confirm Order</button>
  </div>
</div>
<% if (error!='') { %>
<div class='alert alert-danger'><%= error %></div>
<% } %>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <h1>Your Shopping Cart</h1>
  </div>
</div>
<div class="row">
  <div class="table-responsive" id="cartTable">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total Product Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0; i<cart.length; i++) {
            var product = cart[i]; %>
        <tr id="<%= product.variant.variant_id %>" class="variant-row">
          <td>
            <%- utils.link_to('/product/' + product.product_id,
                utils.responsiveImage(
                  S3URL+'/'+product.variant.key,
                  'Picture of '+product.variant.name+' of '+product.name))
            %><%- utils.link_to('/product/' + product.product_id,
                                product.variant.name +' of ' + product.name) %>
            <br>by <%- utils.link_to('/brands/' + product.brand_name,
                                     product.brand_name) %>
          </td>
          <td style="vertical-align:middle" id="#price">
            <%= product.variant.price %> $
          </td>
          <td style="vertical-align:middle">
            <ul class="list-inline">
              <li>
                <form action="/changeQuantity" method="post" role="form"
                      class="no-refresh">
                  <input type="hidden" name="product_id"
                         value="<%= product.product_id %>">
                  <input type="hidden" name="variant_id"
                         value="<%= product.variant.variant_id %>">
                  <input type="hidden" name="quantity" value="-1">
                  <input type="submit" value="" class="plus-minus minus-button">
                </form>
              </li>
              <li class="plus-minus-li">
                <p id="quantity"><%= product.quantity %></p>
              </li>
              <li class="plus-minus-li">
                <form action="/changeQuantity" method="post" role="form"
                      class="no-refresh">
                  <input type="hidden" name="product_id"
                         value="<%= product.product_id %>">
                  <input type="hidden" name="variant_id"
                         value="<%= product.variant.variant_id %>">
                  <input type="hidden" name="quantity" value="1">
                  <input type="submit" value="" class="plus-minus plus-button">
                </form>
              </li>
            </ul>
          </td>
          <td style="vertical-align:middle" id="total">
            <%= product.variant.price * product.quantity %> $
          </td>
          <td style="vertical-align:middle">
            <form action="/removeFromCart" method="post" role="form"
                  class="no-refresh">
              <input type="hidden" name="product_id"
                     value="<%= product.product_id %>">
              <input type="hidden" name="variant_id"
                     value="<%= product.variant.variant_id %>">
              <input type="submit" value="Remove" class="btn btn-danger btn-sm">
            </form>
          </td>
        </tr>
        <% } %>
        <tr>
          <td colspan="3" class="td-right"><h4>Total Items Price</h4></td>
          <td colspan="2" style="vertical-align:middle" id="itemTotal">
            <%- cart.itemTotal %> $
          </td>
        </tr>
        <form action="/pay" method="post" class="confirmForm">
        <tr>
          <td colspan="5">
            <h4>Shipping Option</h4>
            <input type="radio" name="shippingOption" id="shippingOption"
                   value="ePacket" checked>
            <strong>Normal Shipping with ePacket</strong>: 5 $<br><br>
            <input type="radio" name="shippingOption" id="shippingOption"
                   value="EMS">
            <strong>Expedited Shipping EMS</strong>: price depends on region<br>
            <div id="infoEMS">
              Phone Number:
              <input type="tel" name="phoneNumber" id="phoneNumber"
                     placeholder="no spaces or '-' allowed"><br>
              <p>
                Your phone number is required by EMS. Please only use number,
                spaces and hyphens "-" are not allowed.
              </p>
              Shipping cost:
              <select name="shippingCost" id="shippingCost">
              <% var regions = { 'North America, Oceania, Middle East':'Oman',
                                 'East Asia':'China', 'Europe':'France',
                                 'South America, Africa':'Brazil'};
                 for (place in regions) {
                  var price = utils.getShippingCost(regions[place], cart.weightTotal); %>
                <option value="<%= regions[place] %>">
                  <%= place %>: <%= price %>$
                </option>
              <% } %>
              </select>
              <p>
                The shipping price will be confirmed according to
                the shipping address you will input in Paypal Checkout.
              </p>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <input type="image"
             src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"
             value="submit" class="btn-next onlyOnce">
          </td>
        </tr>
        </form>
      </tbody>
    </table>
  </div>
</div>
<% } else { %>
<h1>Your Shopping Cart Is Empty</h1>
<%- utils.link_to('/cart', 'Click here to refresh page') %>
<% } %>

<script type="text/javascript">
  window.onpageshow = function () {
    $(".onlyOnce").removeAttr('disabled').css('cursor', 'pointer');
  }
</script>