<% layout('layout') -%>
<div class="span12">
  <h1><%= catTree.name %></h1>
    <div class="span12">
      <h2>Products</h2>
	    <% for (var i=0; i<products.length; i++) {
	      var product = products[i]; %>
		  <div class="span3">
		    <a href="/product/<%= product.product_id %>">
		    	<%= product.name %>
		    </a>
		  </div>
	    <% } %>
	</div>
	<div class="span12">
	  <h2>Subcategories</h2>
	  <% for (var i=0; i<catTree.children.length; i++) {
	    var cat = catTree.children[i]; %>
	    <div class="span3">
		  <a href="/categories/<%= cat.name %>"><%= cat.name %></a>
	    </div>
	  <% } %>
    </div>
</div>
