<% layout('layout') -%>
<div class="row">
  <div class="col-md-12">
    <h1><%= catTree.name %></h1>
  </div>
  <div class="span12">
    <h2>Products</h2>
    <% if (products.length == 0) { %>
    	<div class="alert alert-info">
    		There are no products available in this category.
    	</div>
    <% } %>
  </div>
<% for (var i=0; i<products.length; i++) {
    var product = products[i]; %>
<% if (i%4==0) { %>
</div>
<div class="row">
<% } %>
  <div class="col-xs-6 col-sm-6 col-md-3">
    <div class="thumbnail product-thumbnail">
      <a href="<%= product.link %>">
        <%- utils.responsiveImage(S3URL +'/'+ product.key, product.name) %>
      </a>
      <h4>
        <%- utils.link_to('/brands/' + product.brandname,
                      product.brandname.toUpperCase(),
                      'title="See all ' + product.brandname + ' products"') %>
      </h4>
      <h4><%- product.name %></h4>
      <p><%- product.desc.slice(0, 40)%>...</p>
      <p>
        <a class="btn btn-skin btn-info" href="<%= product.link %>">
          Read more
        </a>
      </p>
    </div>
  </div>
<% } %>
</div>
<div class="row">
  <h2>Subcategories</h2>
  <% for (var i=0; i<catTree.children.length; i++) {
    var cat = catTree.children[i]; %>
    <div class="col-md-3">
	    <%- utils.link_to('/categories/' + cat.name, cat.name) %>
    </div>
  <% } %>
</div>
