<% layout('layout') -%>
<div class="col-md-12">
<% if (products.length==0) { %>
  <h1>COSMEXO <small>Beauty & Cosmetics Online Shopping</small></h1>
  <h2>All Categories</h2>
    <%- utils.displayCategoryTree(categories, 2, 0) %>
<% } else { %>
  <h1>Featured Products</h1>
  <div class="row">
  <% for (var i=0; i<products.length; i++) {
    var product = products[i]; %>
  <% if (i!= 0 && i%4==0) { %>
  </div>
  <div class="row">
  <% } %>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <div class="thumbnail">
        <a href="<%= product.link %>">
          <%- utils.responsiveImage(S3URL +'/'+ product.key, product.name) %>
        </a>
        <h3><%- product.name %></h3>
        <p><%- product.desc.slice(0, 40)%>...</p>
        <p>
          <a class="btn btn-skin btn-info" href="<%= product.link %>">
            Read more
          </a>
        </p>
      </div>
    </div>
  <% } %>
  </div>
<% } %>

</div>
