<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CosmeXO, Beauty & Cosmetics Online Shopping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Shop online with the best selection of Beauty & Cosmetics products from Asia on CosmeXOXO">
    <meta name="author" content="Lulu Yin">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" media="all">
    <link rel="stylesheet" href="/styles/whhg.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href="http://fonts.googleapis.com/css?family=Didact+Gothic:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="/images/favicon.ico?v=2">
  </head>

  <body>

    <!-- Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- .navbar-button is used as the toggle -->
        <!-- for collapsed navbar content -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#cosmexo-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-home"></span> CosmeXO
          </a>
        </div>
        <div class="collapse navbar-collapse"
             id="cosmexo-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="/categories" class="dropdown-toggle"
                 data-toggle="dropdown">
                SHOP BY CATEGORIES <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              <% for (var i=0; i<categories.length; i++) {
                  var category = categories[i]; %>
                <li class="dropdown dropdown-submenu">
                  <%- utils.link_to('/categories/' + category.name,
                          category.name,
                          'class="dropdown-toggle" data-toggle="dropdown"') %>
                  <ul class="dropdown-menu">
                  <% for (var j=0; j<category.children.length; j++) {
                      var child = category.children[j]; %>
                    <li>
                      <%- utils.link_to('/categories/'+child.name, child.name) %>
                    </li>
                  <% } %>
                  </ul>
                </li>
              <% } %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/brands" class="dropdown-toggle"
                 data-toggle="dropdown">
                SHOP BY BRAND <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% for (var i=0; i<brands.length; i++) {
                    for (var j=0; j<brands[i].brands.length; j++) {
                      var brand = brands[i].brands[j]; %>
                <li>
                  <%- utils.link_to('/brands/' + brand.name, brand.name) %>
                </li>
                <% }
                } %>
                <li class="divider"></li>
                <li>
                  <%- utils.link_to('/brands','All Companies and Brands') %>
                </li>
                <li class="divider"></li>
                <li class="img">
                  <a href="#"><img src="http://placehold.it/150x50"></a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/cart" style:"font-size:80pt;">
                SHOPPING BAG <i class="icon icon-shoppingcartalt"></i>
                <span class="badge cartSize"><%= cartSize %></span>
              </a>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- header -->
      <div class="row" id="website-header">
        <div class="col-sm-6">
          <%- utils.link_to('/', utils.responsiveImage("/images/header.png"),
                                    "CosmeXO logo",
                                    "CosmeXO: Back to home page") %>
        </div>
        <div class="contact-search col-sm-4 col-xs-8">
          <div class="col-md-12">
            <a href="/contactUs">
              <button class="btn btn-large btn-link">
                <i class="icon-envelope"></i> Contact Us
              </button>
            </a>
          </div>
          <div class="col-md-12 input-append">
            <form id="cse-search-box" action="/search">
              <div style="margin:0px 0px 5px 0px;">
                  <input type="text" class="col-md-8" name="q" size="15">
                  <button class="btn btn-primary btn-xs" type="submit">
                    <i class="icon-search icon-white"></i> Search
                  </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4" >
          <%- utils.link_to('/cart',
                    utils.responsiveImage(
                      "/images/shopping_basket_fushia.png")
                      + '<span class="badge cartSize">' + cartSize + '</span>'
                      + '<span id="checkout">Checkout</span>',
                    "Shopping cart image",
                    "Go to shopping cart") %>
        </div>
      </div>

<%- body %>
    </div> <!-- end container -->
    <div class="footer">
      <p>
        <%- utils.link_to('/aboutUs', 'About Us') %> -
        <%- utils.link_to('/contactUs', 'Contact Us') %>
      </p>
    </div>
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/priceDisplays.js"></script>
    <script type="text/javascript" src="/js/page-scripts.js"></script>
  </body>
</html>
