<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CosmeXO, Beauty & Cosmetics Online Shopping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Shop online with the best selection of Beauty & Cosmetics products from Asia on CosmeXOXO">
    <meta name="author" content="Lulu Yin">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" media="all">
    <link rel="stylesheet" href="/styles/whhg.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href="http://fonts.googleapis.com/css?family=Didact+Gothic:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="/images/favicon.ico?v=2">
  </head>

  <body style="padding-top: 20px;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <%- utils.link_to('/', utils.responsiveImage("/images/header.png"),
                          "CosmeXO logo", "CosmeXO: Back to home page") %>
        </div>
      </div>
      <div class="row" id="checkoutProcess" style="margin-top:30px;">
        <div class="btn-group">
          <button class="btn btn-default disabled">1. Order Summary</button>
          <button class="btn btn-default disabled">
            2. Personal Info (via Paypal)
          </button>
          <button class="btn btn-default disabled active">
            3. Confirm Order
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Please Confirm Your Order</h1>
        </div>
      </div>
        <div class="row">
          <div class="col-xs-4 col-md-offset-2">
            <p>Name:</p>
          </div>
          <div class="col-xs-8 col-md-6">
            <p><%= order.FIRSTNAME %> <%= order.LASTNAME %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-offset-2">
            <p>Ship to Address:</p>
          </div>
          <div class="col-xs-8 col-md-6">
            <p>
              <%= order.PAYMENTREQUEST_0_SHIPTONAME%><br>
              <%= order.PAYMENTREQUEST_0_SHIPTOSTREET %><br>
              <%= order.PAYMENTREQUEST_0_SHIPTOCITY %><br>
              <%= order.PAYMENTREQUEST_0_SHIPTOSTATE %><br>
              <%= order.PAYMENTREQUEST_0_SHIPTOZIP %><br>
              <%= order.PAYMENTREQUEST_0_SHIPTOCOUNTRYNAME %>
              (<%= order.PAYMENTREQUEST_0_SHIPTOCOUNTRYCODE %>)
            </p>
          </div>
        </div>
        <div class="row">
          <%  var i=0, prefix='L_PAYMENTREQUEST_0_';
              while (true) {
                if (!order.hasOwnProperty(prefix+'NAME'+i)) break; %>
          <div class="col-xs-4 col-md-offset-2">
            <p>Product <%= i %>:</p>
          </div>
          <div class="col-xs-8 col-md-6">
            <p>
            <%= order[prefix+'NAME'+i] %><br>
            <%= order[prefix+'QTY'+i] %> * <%= order[prefix+'AMT'+i] %> $ =
            <%- parseInt(order[prefix+'QTY'+i])*parseInt(order[prefix+'AMT'+i]) %>
            $</p>
          </div>
        </div>
        <div class="row">
          <%  i+=1
              } %>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-offset-2">
            <p>Item Total:</p>
          </div>
          <div class="col-xs-8 col-md-6">
            <p><%= order.PAYMENTREQUEST_0_ITEMAMT %> $</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-offset-2">
            <p>Shipping Cost (final):</p>
          </div>
          <div class="col-xs-8 col-md-6">
            <p>+ <%= order.PAYMENTREQUEST_0_SHIPPINGAMT %> $</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-offset-2">
            <p>Total Amount:</p>
          </div>
          <div class="col-xs-8 col-md-6">
            <p>= <%= order.PAYMENTREQUEST_0_AMT %> $</p>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-md-offset-2">
          <form action="/confirmPayment" method="post">
            <input type="submit" class="btn btn-primary btn-lg order-btn"
                   value="Confirm Order">
          </form>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <form action="/cart">
            <input type="submit" class="btn btn-warning btn-lg order-btn"
                   value="Back to Cart">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>