<% layout('layout') -%>
<div class="span12" id="product">
  <div class="span4" id="productImage">
    <%- utils.responsiveImage(S3URL + '/' + product.key,
                              'picture of ' + product.name) %>
  </div>
  <div class="span7" id="productDesc">
    <h1><%= product.brand_name %> <%= product.name %></h1>
    <h3>by <%= product.company_name %></h3>
    <p><%= product.desc %></p>
  </div>
</div>
<div class="span12" id="variants">
  <ul class="thumbnails">
    <% for (var i=0; i<product.variants.length; i++) {
        var variant = product.variants[i]; %>
      <li class="span3">
        <div class="thumbnail">
          <%- utils.responsiveImage(S3URL +'/'+ variant.key,
                                    'Picture of a ' + variant.name + ' of ' +
                                    product.name) %>
          <h3><%- variant.name %></h3>
          <p>Price: <%= product.variants[i].price %>$</p>
          <p>
            <a class="btn btn-primary" href="#">
              Buy Now!
            </a>
          </p>
        </div>
      </li>
    <% } %>
  </ul>
</div>
<div class="span12" id="similarProducts">
  <p>
  <%- utils.link_to('/brands/' + product.brand_name,
                    'More products from ' + product.brand_name) %>
  </p>
  <% for (var i=0; i<product.categories.length; i++) { %>
  <p>
    <%- utils.link_to('/categories/' + product.categories[i],
                    'More ' + product.categories[i] + ' products') %>
  </p>
  <% } %>
</div>