<% layout('layout') -%>
<div class="row" id="product">
  <div class="col-md-4" id="productImage">
    <%- utils.responsiveImage(S3URL + '/' + product.key,
                              'picture of ' + product.name) %>
  </div>
  <div class="col-md-8" id="productDesc">
    <h1><%= product.brand_name %> <%= product.name %></h1>
    <h3>by <%= product.company_name %></h3>
    <p><%- product.desc %></p>
  </div>
<% for (var i=0; i<product.variants.length; i++) {
    var variant = product.variants[i]; %>
<% if (i%4==0) { %>
</div>
<div class="row" id="variants">
<% } %>
  <div class="col-xs-6 col-sm-6 col-md-3">
    <div class="thumbnail">
      <%- utils.responsiveImage(S3URL +'/'+ variant.key,
                                'Picture of a ' + variant.name + ' of ' +
                                product.name) %>
      <h3><%- variant.name %></h3>
      <p>Price: <%= variant.price %>$</p>
      <form action="/addToCart" class="form-horizontal no-refresh"
            method="post" role="form">
        <input type="hidden" name="product_id"
               value="<%= product.product_id %>">
        <input type="hidden" name="variant_id"
               value="<%= variant.variant_id %>">
        <div class="form-group">
          <label class="control-label col-sm-4 col-md-4 col-lg-4 required"
                 for="form-quantity">
            Quantity:
          </label>
          <div class="col-sm-4 col-md-8 col-lg-8">
            <div class="row">
              <div class="col-sm-12">
                <select class="form-control" name="quantity"
                        id="form-quantity">
                  <% for (var k=1; k<11; k++) { %>
                  <option><%= k %></option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
        </div>
        <input type="submit" value="Add to cart" class="btn btn-primary btn-skin btn-action">
      </form>
    </div>
  </div>
<% } %>
</div>
<div class="row" id="similarProducts">
  <p>
  <%- utils.link_to('/brands/' + product.brand_name,
                    'More products from ' + product.brand_name) %>
  </p>
  <% for (var i=0; i<product.categories.length; i++) { %>
  <p>
    <%- utils.link_to('/categories/' + product.categories[i],
                    'More ' + product.categories[i] + ' products') %>
  </p>
  <% } %>
</div>